:root {
  /*Layout colors*/
  --color-background: #ffffff;
  --color-background-header: #ffffff;
  --color-accent: #FF7A00;

  /*Text colors*/
  --color-text: #171918;
  --color-text-link: #171918;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #403d4a;
    --color-background-header: #000002;
    /*this is a test version*/
    --color-text: #ffffff;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 3px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}