@import './base.css';

#app {
  font-weight: normal;
}

.main{
  padding-top: var(--header-height);
  min-height: calc(100vh - var(--header-height));
}

.dashboard-main{
  min-height: 100vh;
  padding-top: 0;
  display: flex;
  flex-direction: row;
  background-color: var(--color-background-dashboard);
}

.dashboard-content{
  width: 100%;
}

a{
  cursor: pointer;
  color: var(--color-text);
  transition: 0.4s;
}

@media (hover: hover) { 
  a:hover {
    color: var(--color-accent);
  }
} 

@media (max-width: 991px) {
  :root{
    --header-height: 60px;
  }
}

@media (max-width: 767px) {
  :root{
    --header-height: 52px;
  }
  .dashboard-main{
    display: block;
  }
  .click-area-wrapper{
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
